<div class="container">
  <h1>Deaf Oli</h1>
  
  <form action="" method="get">
    Say something to Oli:
    <br><br>
    <input type="text" name="user_input">
    <input type="submit" value="Submit!">
  </form>
  <br><br>
  <span class="result"></span>
  <!-- <img src="Oli.jpg" width="304" height="228"> -->
  <!-- <img src="4fqj5.gif"> -->
</div>


